body{
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
form{
    display: flex;
    flex-direction: column;
    width: 20%;
}
input, button{
    width: 100%;
    height: 30px;
    margin: 5px 0;
    padding: 0 10px;
    border: 1px solid #aaa;
    border-radius: 7px;
}
button{
    width: 21.65%;
    margin-left: 1.7%;
    cursor: pointer;
}
button:hover{
    background-color: #ddd;
}
label{
    margin-top: 5px;
}